@import '../variables/variables';

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 120px auto 0;
}
.login-title {
  margin-top: 20px;
  font-family: $font-family-en;
  font-size: 24px;
}
.login-input-wrap {
  width: 100%;
  margin: 40px 0;
  .input-wrap {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
}