@import 'grid';

// color
.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}
.text-info {
  color: $info !important;
}
.text-success {
  color: $success !important;
}
.text-warning {
  color: $warning !important;
}
.text-error {
  color: $error !important;
}
.text-cream-50 {
  color: $cream-50 !important;
}
.text-cream-100 {
  color: $cream-100 !important;
}
.text-cream-200 {
  color: $cream-200 !important;
}
.text-cream-300 {
  color: $cream-300 !important;
}
.text-cream-400 {
  color: $cream-400 !important;
}
.text-cream-500 {
  color: $cream-500 !important;
}
.text-cream-600 {
  color: $cream-600 !important;
}
.text-cream-700 {
  color: $cream-700 !important;
}
.text-cream-800 {
  color: $cream-800 !important;
}
.text-cream-900 {
  color: $cream-900 !important;
}
.text-cream-1000 {
  color: $cream-1000 !important;
}
.bg-primary {
  background: $primary !important;
}
.bg-secondary {
  background: $secondary !important;
}
.bg-info {
  background: $info !important;
}
.bg-success {
  background: $success !important;
}
.bg-warning {
  background: $warning !important;
}
.bg-error {
  background: $error !important;
}
.bg-cream-50 {
  background: $cream-50 !important;
}
.bg-cream-100 {
  background: $cream-100 !important;
}
.bg-cream-200 {
  background: $cream-200 !important;
}
.bg-cream-300 {
  background: $cream-300 !important;
}
.bg-cream-400 {
  background: $cream-400 !important;
}
.bg-cream-500 {
  background: $cream-500 !important;
}
.bg-cream-600 {
  background: $cream-600 !important;
}
.bg-cream-700 {
  background: $cream-700 !important;
}
.bg-cream-800 {
  background: $cream-800 !important;
}
.bg-cream-900 {
  background: $cream-900 !important;
}
.bg-cream-1000 {
  background: $cream-1000 !important;
}

.spacer {
  flex-grow: 1;
}

.btn-text-link {
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  color: $cream-300;
  background: transparent;
  transition: color $transition-time-default;
  &:hover {
    color: $cream-100;
  }
}

.label {
  display: inline-block;
  position: relative;
  font-size: 12px;
  &.required {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 2px);
      right: -10px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $error;
    }
  }
  &.x-small {
    font-size: 10px;
  }
  &.small {
    font-size: 11px;
  }
  &.large {
    font-size: 14px;
  }
  &.x-large {
    font-size: 16px;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin: -4px;
  list-style: none;
  .section-header + & {
    margin-top: -24px;
  }
}
.tag-item {
  padding: 4px;
}